
.navbar
{
 background-color:rgb(153,1,0);
   font-family: niconne;
}
.navbar-brand
{
  height:100px; 
    
}
.navbar-brand img
{
   height:80px;
    }
/* h1 Title in white*/
a h1
{
    color:white;
   
}

@media all AND (max-width:480px)
{
    /*For phone screen, incruise height to see h1 title completly*/
    .navbar-brand
{
  height:120px; 
    
}
}