body
{
   /* background-image: url("images/image_parc2.jpg");*/
    font-family: Lora;
    text-align: center;
    
}
/*Header
-------------------------------------------*/

.navbar
{
background-color:rgba(153,1,0,1);
   font-family: niconne;
   
}
 .icon-bar
{
   background-color:rgb(153,1,0);
}
.navbar-toggle
{
    background-color:aliceblue;    
    border-color:rgb(153,1,0);
}

.navbar-brand img
{
   height:150px;
    border-radius:60px;
    
 }
.navbar-brand
{
    padding:15px;
}
.navbar-nav
{
   margin-left:100px;
}
a
{
    color:aliceblue;
}
button
{
    color:white;
}
.navbar-form
{
    margin-top:25px;
}

/*----------Sections--------------------*/
.jumbotron
{
    border-radius:20px;
    background-color: rgba(210,225,232,0);
    text-align:center;
    color:rgb(153,1,0);
    margin-top:200px;
   
}
#description,#news
{
    border-radius:20px;
    background-color:rgba(245,245,245,0.6);
    padding-top:20px;
    text-align: justify;   
}
section h4
{
    text-align: center;
    color:rgb(153,1,0);
    padding-bottom: 30px;
    padding-top:30px;
}
/*-----------News separations--------*/
.end
{
    border-bottom: 1px rgb(153,1,0) solid;
}
